body
{
  /* background-color: #fbffe3; */
}
.grid-container
{
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . . . . . ."
    ". option1 plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . plot plot plot plot plot plot plot plot plot plot plot plot . ."
    ". . . . . . . . . . . . . . . .";
}

.plot { grid-area: plot; }

.option1 { grid-area: option1; }

@media only screen and (max-width: 993px)
{
  .w3-main{margin-top: 50px}
  #wzor {font-size: 13px !important; font-weight: bold;}
}

/* #myChart
{
  margin: auto;
 width: 60%;
 padding: 10px;
} */
