
@media only screen and (max-width: 993px)
{
  .w3-main{margin-top: 50px}
  #wzor {font-size: 13px !important; font-weight: bold;}
}

/* pasek z inputami */
body nav form i {
  padding-right: 5px;
}
/* przesuniecie głownego kontentu wzgledem inputow  */
body #main {
  margin-left: 360px;
}

/* opisy parametrow */
body #main #zmienne {
  width:30px;
  padding-left:30px;
  font-size: 15px;
}

/* header */
body #main .header{
  padding: 10px 20px;
}

/* wykres */
body #main .wykres{
  height: 100%;
  overflow-x: hidden;
}

/* opis projektu */
body #main #opis_projektu #opis{
  width:30px;
  padding-left:30px
}

/* wzor pod opisem */
body #main #opis_projektu #wzor {
  width:30px;
  padding-left:30px;
  font-size: 20px;
}

/* nasze imie i nazwisko i iconka */
body #main #tworcy #imie{
  width:30px;
}
/* opisy naszych prac */
body #main #tworcy #dane{
  width:30px;
  padding-left:30px
}

/* stopka */
body #main footer {
  margin-top:32px;
}

pre {margin: 0 0 0 30px; position: relative; top: -20px;}
#uchybUstalony, #przeregulowanie, #czas {  display: inline;  margin: 0 0 0 20px;}
#tikczas
{
  display: inline;
  margin: 40px 0 0 20px;
}
pre div { position: absolute; margin: 0 0 0 0; padding: 0; }
