<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Projekt UAR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- dodanie potrzebnych plików -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <script type="text/javascript">


    //=================================================================================================================
    //============DEKLARACJE ZMIENNYCH=================================================================================
    var c = 0;
    var temp = 0;
    var is_ready = 0;
    var dots_at_once = 20;
    var dots_quantity = 0;
    var stage = 1;
    var uchyb = "--";
    var przeregulowanie = "--";
    var czas = "--";
    var tik = 0;

    //=================================================================================================================
    //============IMPLEMENTACJE FUNKCJI================================================================================
    //Usuwanie danych z wykresu
    function removeData(chart, number)
    {
      chart.data.labels.splice(number - 1, number);
      chart.data.datasets.forEach((dataset) => {
      dataset.data.splice(number - 1, number);
    });
    chart.update();
    }
    //aktualizowanie wartości na wkresie
    function update_values()
    {
      tik++;
      //pobieranie danych z serwera
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.getJSON($SCRIPT_ROOT + '/_stuff',

      function(data){
        $("#result").text(data.A);
        temp = data.A;
        uchyb = data.B;
        przeregulowanie = data.C;
        czas = data.D;
        if (uchyb == -1) uchyb = "--";
        if (przeregulowanie == -1) przeregulowanie = "--";
        if (czas == -1) czas = "--";
      });
      //pomijanie niepotrzebnych danych
      if (is_ready)
      {

        dots_quantity++;
        c++;
        console.log("[LOG] - point added: " + temp + " label: " + c +  "  Uchyb ustalony: " + uchyb + " Przeregulowanie: " + przeregulowanie + " Czas regulacji: " + czas );
        myChart.data.labels.push("");
        myChart.data.datasets.forEach((dataset) => {
          dataset.data.push(temp);
        });
        myChart.options.scales.xAxes.labelString = "fdf";
        myChart.data.labels.value = "p";

        myChart.update();

      }
      else
      {
        console.log("[LOG] - Passing trash...")
        if (is_ready <= 0)
          is_ready++;
      }

      document.getElementById("uchybUstalony").innerHTML = uchyb;
      document.getElementById("przeregulowanie").innerHTML = przeregulowanie;
      document.getElementById("czas").innerHTML = czas;
      // document.getElementById("tikczas").innerHTML = tik;
    }


    //testowa funkcja, blokujaca domyslne ustawienia
    function pr() {event.preventDefault;}

    //przekazanie nowych danych do serwera
    function pass_data(select)
    {
      let data =
      [
        select,
        document.getElementById("input_T_star").value,
        document.getElementById("input_T_zero").value,
        document.getElementById("input_T_amb").value,
        document.getElementById("input_kp").value,
        document.getElementById("input_Tp").value,
        document.getElementById("input_Ti").value,
        document.getElementById("input_Td").value,
        document.getElementById("input_A").value,
        document.getElementById("input_e").value,
        document.getElementById("input_W").value,
        document.getElementById("input_S").value
      ]
      // data = [10, 40, 70, 23, 1, 0.5, 0.5, 1, 5, 0.6, 4, 2];
      // data = [10, 40, 70, 23, 1, 0.005, 0.005, 1, 5, 0.6, 4, 2];
      console.log("[LOG] - Passing data: " + data);
      // generate(data);
        $.get( "/getmethod/" + data.join() );
    }

    //zatrzymuje animacje wraz z dodawaniem nowych punktów
    function stop_update()
    {
      clearInterval(interval);
      is_ready = 0;
      console.log("[LOG] - simulation STOPPED");

    }
    //wznowienie generowania danych oraz animacji
    function resume_update()
    {
      interval = setInterval(update_values, 100);
      console.log("[LOG] - simulation STARTED");
    }
    //generowanie od nowa podstawowego obiektu i usuwanie danych z wykresu
    function restart()
    {
      stop_update();
      pass_data(0);
      is_ready = 0;

      for (var i = 0; i < dots_quantity; i++) {removeData(myChart, 1);}
      c = 0;
      temp = 0;
      dots_at_once = 20;
      dots_quantity = 0;
      stage = 1;
      console.log("[LOG] - simulation RESTARTED");
    }

      //autouzupelnienie inputów
    function autoFill(T_star, T_zero, T_amb, kp, Tp, Ti, Td, A, e, W, S) {
      $('.T_star').val(T_star);
      $('.T_zero').val(T_zero);
      $('.T_amb').val(T_amb);
      $('.kp').val(kp);
      $('.Tp').val(Tp);
      $('.Ti').val(Ti);
      $('.Td').val(Td);
      $('.A').val(A);
      $('.e').val(e);
      $('.W').val(W);
      $('.S').val(S);
    }


    //=================================================================================================================
    //===============IMPLEMENTACJA SKRYPTÓW DOMYŚLNYCH====================================================================


    // Script to open and close sidebar when on tablets and phones
      function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
        }

        // Slideshow Apartment Images
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demo");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
          }
          x[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " w3-opacity-off";
        }

    //=================================================================================================================
    //================KONIEC IMPLEMENTACJI SKRYPTÓW====================================================================
    </script>
  </head>




  <!------------------------------------------------------------------------------------------------------------------------->
  <!--------------------HTML START----------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------------->
  <body class="w3-content w3-border-left w3-border-right">
    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:360px" id="mySidebar">
      <div class="w3-container w3-display-container w3-padding-16">
        <h3>Menu</h3><hr>




         <!------------------------------------------------------------------------------------------------------------------------->
         <!--------------------TUTAJ MIEJSCE Z INPUTAMI----------------------------------------------------------------------------->
         <!------------------------------------------------------------------------------------------------------------------------->

        <form onsumbit="return false">

            <p><label><i class="fa fa-angle-right"></i>T<sub>star</sub> [K](temperatura docelowa)</label></p>
            <input value=40 id="input_T_star" class="w3-input w3-border T_star" type="text" placeholder="Tu wpisz liczbę..." name="T_star" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>zero</sub> [K](temperatura początkowa)</label></p>
            <input value=70 id="input_T_zero" class="w3-input w3-border T_zero" type="text" placeholder="Tu wpisz liczbę..." name="T_zero" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>amb</sub> [K](temperatura otoczenia)</label></p>
            <input value=23 id="input_T_amb" class="w3-input w3-border T_amb" type="text" placeholder="Tu wpisz liczbę..." name="T_amb" required>

            <p><label><i class="fa fa-angle-right"></i>k<sub>p</sub> (wzmocnienie regulatora)</label></p>
            <input value=1 id="input_kp" class="w3-input w3-border kp" type="text" placeholder="Tu wpisz liczbę..." name="kp" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>p</sub> [s](okres próbkowania)</label></p>
            <input value=0.5 id="input_Tp" class="w3-input w3-border Tp" type="text" placeholder="Tu wpisz liczbę..." name="Tp" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>i</sub> [s](czas zdwojenia)</label></p>
            <input value=0.5 id="input_Ti" class="w3-input w3-border Ti" type="text" placeholder="Tu wpisz liczbę..." name="Ti" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>d</sub> [s](czas wyprzedzenia)</label></p>
            <input value=1 id="input_Td" class="w3-input w3-border Td" type="text" placeholder="Tu wpisz liczbę..." name="Td" required>

            <p><label><i class="fa fa-angle-right"></i>A [dm<sup>2</sup>](pole powierzchni)</label></p>
            <input value=5 id="input_A" class="w3-input w3-border A" type="text" placeholder="Tu wpisz liczbę..." name="A" required>

            <p><label><i class="fa fa-angle-right"></i>e (emitancja)</label></p>
            <input value=0.6 id="input_e" class="w3-input w3-border e" type="text" placeholder="Tu wpisz liczbę..." name="e" required>

            <p><label><i class="fa fa-angle-right"></i>W [K/(W*s)](współczynnik mocy do temperatury)</label></p>
            <input value=4 id="input_W" class="w3-input w3-border W" type="text" placeholder="Tu wpisz liczbę..." name="W" required>

            <p><label><i class="fa fa-angle-right"></i>S [K/s](wydzielana temperatura)</label></p>
            <input value=2 id="input_S" class="w3-input w3-border S" type="text" placeholder="Tu wpisz liczbę..." name="S" required>


          <!------------------------------------------------------------------------------------------------------------------------->
          <!--------------------TUTAJ GUZIKI DO STEROWANIA WYKRESEM------------------------------------------------------------------>
          <!------------------------------------------------------------------------------------------------------------------------->
          <br><!--<input type="checkbox" id="scales" name="scales" checked>
          <label for="scales">Wskaźniki jakości</label>-->

          <p><button id="button" type="button" value="send" class="w3-button w3-block w3-dark-gray w3-left-align" onclick="pass_data(1);"><i class="fa fa-check" style="padding-right: 10px;"></i>Aktualizuj dane
          </button></p>
          <p><button id="button" type="button" value="send" class="w3-button w3-block w3-dark-gray w3-left-align" onclick="stop_update();"><i class="fa fa-hand-paper"style="padding-right: 10px;"></i>Zatrzymaj symulację
          </button></p>
          <p><button id="button" type="button" value="send" class="w3-button w3-block w3-dark-gray w3-left-align" onclick="resume_update();"><i class="fa fa-play"style="padding-right: 10px;"></i>Rozpocznij symulację</button></p>
          <p><button id="button" type="button" value="send" class="w3-button w3-block w3-dark-gray w3-left-align" onclick="restart();"><i class="fas fa-redo"style="padding-right: 10px;"></i>Restart</button></p>
          <br>
          <p><button id="button" type="button" class="w3-button w3-block w3-dark-gray w3-left-align" href="#" onClick="autoFill(40, 70, 23, 1, 0.5, 0.5, 1, 5, 0.6, 4, 2); pass_data(1); return false;" role="button"><i class="fa fa-check" style="padding-right: 10px;"></i>Nastawa 1
          </button></p>
          <p><button id="button" type="button" class="w3-button w3-block w3-dark-gray w3-left-align" href="#" onClick="autoFill(320, 293, 293, 1, 0.5, 0.1, 0.6, 0.116275, 0.6, 0.53565383622, 9.16431585); pass_data(1); return false;" role="button"><i class="fa fa-check" style="padding-right: 10px;"></i>Emitancja aluminium
          </button></p>
          <p><button id="button" type="button" class="w3-button w3-block w3-dark-gray w3-left-align" href="#" onClick="autoFill(323, 280, 295, 0.01, 0.5, 0.01, 1, 0.11625, 0.5, 1.03565383622, 9.16431585); pass_data(1); return false;" role="button"><i class="fa fa-check" style="padding-right: 10px;"></i>Emitancja miedzi
          </button></p>
          <p><button id="button" type="button" class="w3-button w3-block w3-dark-gray w3-left-align" href="#" onClick="autoFill(317, 300, 293, 0.8, 0.3, 0.03, 0.2, 0.11625, 0.9, 0.53565383622, 9.16431585); pass_data(1); return false;" role="button"><i class="fa fa-check" style="padding-right: 10px;"></i>Emitancja ceramiki
          </button></p>

        </form>
      </div>
    </nav>



    <!------------------------------------------------------------------------------------------------------------------------->
    <!--------------------OPCJE NA MALE EKRANY--------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
      <span class="w3-bar-item">Projekt UAR</span>
      <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>




    <!------------------------------------------------------------------------------------------------------------------------->
    <!--------------------GŁÓWNY KONTENT--------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="w3-main w3-white" id="main">
        <div class="header">
            <h3>UAR temperatury procesora, przy pasywnej stracie energii</h2>
            <div class="wykres">

              <canvas id="myChart"></canvas>
              <script type="text/javascript" src="{{ url_for('static', filename='plot.js') }}"></script>
              <!-- <pre>Miniony czas: <p id="tikczas"></p> s</pre> -->
              <h3>Wskaźniki jakości</h4>
              <pre>
                   <div>Uchyb ustalony: <p id="uchybUstalony"></p> K</div><br>
                   <div>Przeregulowanie: <p id="przeregulowanie"></p></div><br>
                   <div>Czas regulacji: <p id="czas"></p> s</div>
              </pre>
              <script type="text/javascript">
              document.getElementById("uchybUstalony").innerHTML = uchyb;
              document.getElementById("przeregulowanie").innerHTML = przeregulowanie;
              document.getElementById("czas").innerHTML = czas;
              </script>
            </div><br>
        </div>



        <!------------------------------------------------------------------------------------------------------------------------->
        <!--------------------TEKST POD WYKRESEM----------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="w3-container" id="opis_projektu">
            <h2>Opis projektu</h2>
            <i id="opis">Sterowaniem jest objęta temperatura procesora. Wykorzystanie urządzenia generuje straty energii, które końcowo objawiają się podwyższeniem temperatury urządzenia. Niższa temperatura od docelowej oznacza to, że można "podkręcić" procesor a więc wykonać pewne zadanie szybciej (oczywiście w rozsądnych granicach), niż przy nominalnej mocy urządzenia.</i><br><br><br>
            <i id="wzor">T(n + 1) = (S · u(n) - (σeA(T<sup>4</sup>(n) - T<sub>0</sub><sup>4</sup>) · W)t<sub>p</sub> + T(n)</i><br><br><br>
        </div>

        <i id="zmienne">T(n) - temperatura ostatnia</i><br><br>
        <i id="zmienne">T(n+1) - temperatura następna</i><br><br>

       <!--<i id="zmienne">S - wydzielane ciepło w Kelwinach, przy minimalnym,</i><br><br>
        <i id="zmienne"> zalecanym wykorzystaniu urządzenia na sekundę</i><br><br>-->

        <i id="zmienne">u(n) - wielkość sterująca</i><br><br>
        <!--<i id="zmienne">A - pole powierzchni oddającej ciepło</i><br><br>-->
        <!--<i id="zmienne">T0- temperatura otoczenia/początkowa</i><br><br>-->
        <!--<i id="zmienne">tp- okres próbkowania  </i><br><br>-->
        <i id="zmienne">σ - Stała Stefana-Boltzmanna 5.6704 · 10<sup>-8</sup> [W/m<sup>2</sup>K<sup>4</sup>]</i><br><br>
        <!--<i id="zmienne">e - emitancja obiektu (zakres od 0 do 1)</i><br><br>-->
        <!--<i id="zmienne">W - konwersja Jouli na Kelwiny [K/J]</i><br><br><br><br>-->





      <!------------------------------------------------------------------------------------------------------------------------->
      <!--------------------OPISY NASZYCH DZIALAN-------------------------------------------------------------------------------->
      <!------------------------------------------------------------------------------------------------------------------------->
      <!--<div class="w3-container" id="tworcy">
        <h2>Twórcy projektu</h2>
        <i id="imie" class="fa fa-user"></i>Lena Ptak<br>
        <i id="dane"></i>145226<br><br>
        <i id="dane">Napisanie funkcji do obliczania wskaźników jakości takich jak uchyb ustalony, przeregulowanie oraz czas regulacji. Dobranie odpowiednich parametrów dla konkretnych materiałów do wykresu.</i><br><br><br>

        <i id="imie" class="fa fa-user"></i>Konrad Romański<br>
        <i id="dane"></i>145329<br><br>
        <i id="dane">Napisanie pliku `main.py` - do flaska (serwer). Stworzenie systemu przesyłu danych między serwerem a stroną internetową. Implementacja wykresu, rysującego dane z klasy UAR.</i><br><br><br>

        <i id="imie" class="fa fa-user"></i>Paweł Perechuda<br>
        <i id="dane"></i>145199<br><br>
        <i id="dane">Opracowanie równania różnicowego. Wykonanie silnika w pythonie (UAR.py). Pomoc przy dobieraniu nastaw i związanych z nimi obliczeniami.</i><br><br><br>

        <i id="imie" class="fa fa-user"></i>Tomasz Pieścikowski<br>
        <i id="dane"></i>145418<br><br>
        <i id="dane">Praca nad wizualną częścią strony(html/css), pomoc przy podłączeniu jej do serwera oraz drobne naprawy związanych z tym błędów.</i><br><br><br>
      </div>-->


      <!------------------------------------------------------------------------------------------------------------------------->
      <!--------------------FOOTER----------------------------------------------------------------------------------------------->
      <!------------------------------------------------------------------------------------------------------------------------->
      <footer class="w3-container w3-padding-16">Projekt oddano 24.02.2020</footer>


    </div>
  </body>
</html>
