<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Projekt UAR</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <script type="text/javascript">


    //=================================================================================================================
    //============DEKLARACJE ZMIENNYCH=================================================================================
    var c = 0;
    var temp = 0;
    var is_ready = 0;
    var dots_at_once = 100;

    //=================================================================================================================
    //============IMPLEMENTACJE FUNKCJI================================================================================
    //Usuwanie danych z wykresu
    function removeData(chart)
    {
      chart.data.labels.splice(0, 1);
      chart.data.datasets.forEach((dataset) => {
      dataset.data.splice(0, 1);
    });
    chart.update();
    }
    //aktualizowanie wartości na wkresie
    function update_values()
    {
      if (is_ready)
      {
        //pobieranie danych z serwera
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/_stuff',

        function(data){
          $("#result").text(data.result);
          temp = data.result;
          console.log("[LOG] - point added: " + temp);
        });

        c=c+1;
        // console.log(c);
        // console.log(temp);
        //dodawanie danych na wykres
        myChart.data.labels.push(c);
        myChart.data.datasets.forEach((dataset) => {
          dataset.data.push(temp);
        });
        myChart.update();
        //usuwanie nadmiarowych danych
        if (c >dots_at_once) removeData(myChart);
      }
      else
      {
        console.log("[ERROR] - No data provided")
      }

    }

    //generowanie danych (obiektu, ktory generuje punkty na wykresie)
    function generate()
    {

      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $.getJSON($SCRIPT_ROOT + '/_generate',

      function(data){
        $("#msg").text(data.msg);
        is_ready = data.msg;
        console.log("[LOG] - Data are created (status: " + data.msg + ")");
      });

    }
    //testowa funkcja, blokujaca domyslne ustawienia
    function pr() {event.preventDefault;}

    //przekazanie nowych danych do serwera
    function pass_data()
    {
      let data =
      [
        document.getElementById("input_n").value,
        document.getElementById("input_T_star").value,
        document.getElementById("input_T_zero").value,
        document.getElementById("input_T_amb").value,
        document.getElementById("input_kp").value,
        document.getElementById("input_Tp").value,
        document.getElementById("input_Ti").value,
        document.getElementById("input_Td").value,
        document.getElementById("input_A").value,
        document.getElementById("input_e").value,
        document.getElementById("input_W").value,
        document.getElementById("input_S").value,
      ]
      // data = [10, 40, 70, 23, 1, 0.5, 0.5, 1, 5, 0.6, 4, 2];
      // data = [10, 40, 70, 23, 1, 0.005, 0.005, 1, 5, 0.6, 4, 2];
      // data = [10, 40, 70, 23, 1, document.getElementById("input_Tp").value, document.getElementById("input_Ti").value, 1, 5, 0.6, 4, 2];
      console.log("[LOG] - Passing data: " + data);
      // generate(data);
        $.get( "/getmethod/" + data.join() );
    }

    //zatrzymuje animacje wraz z dodawaniem nowych punktów
    function stop_update()
    {
      clearInterval(interval);
      console.log("[LOG] - simulation STOPPED");
    }
    //wznowienie generowania danych oraz animacji
    function resume_update()
    {
      interval = setInterval(update_values, 100);
      console.log("[LOG] - simulation STARTED");
    }
    //generowanie od nowa podstawowego obiektu i usuwanie danych z wykresu
    function restart()
    {
      generate();
      for (var i = 0; i < dots_at_once; i++) {removeData(myChart);}
      console.log("[LOG] - simulation RESTARTED");
    }



    //=================================================================================================================
    //===============IMPLEMENTACJA SKRYPTÓW DOMYŚLNYCH====================================================================


    // Script to open and close sidebar when on tablets and phones
      function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
        }

        // Slideshow Apartment Images
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
          showDivs(slideIndex += n);
        }

        function currentDiv(n) {
          showDivs(slideIndex = n);
        }

        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("demo");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
          }
          x[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " w3-opacity-off";
        }

    //=================================================================================================================
    //================KONIEC IMPLEMENTACJI SKRYPTÓW====================================================================
    </script>
  </head>




  <!------------------------------------------------------------------------------------------------------------------------->
  <!--------------------HTML START----------------------------------------------------------------------------->
  <!------------------------------------------------------------------------------------------------------------------------->
  <!-- wczytanie strony wraz z uruchomieniem funkcji -->
  <body onload="generate(); update_values();" class="w3-content w3-border-left w3-border-right">
    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
      <div class="w3-container w3-display-container w3-padding-16">
        <h3>Projekt UAR</h3><hr>




         <!------------------------------------------------------------------------------------------------------------------------->
         <!--------------------TUTAJ MIEJSCE Z INPUTAMI----------------------------------------------------------------------------->
         <!------------------------------------------------------------------------------------------------------------------------->

        <form>
            <p><label><i class="fa fa-angle-right"></i>n</label></p>
            <input value=1000 id="input_n" class="w3-input w3-border"  type="text" placeholder="Tu wpisz liczbę..." name="n" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>star</sub></label></p>
            <input value=40 id="input_T_star" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="T_star" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>zero</sub></label></p>
            <input value=70 id="input_T_zero" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="T_zero" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>amb</sub></label></p>
            <input value=23 id="input_T_amb" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="T_amb" required>

            <p><label><i class="fa fa-angle-right"></i>k<sub>p</sub></label></p>
            <input value=1 id="input_kp" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="kp" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>p</sub></label></p>
            <input value=0.5 id="input_Tp" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="Tp" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>i</sub></label></p>
            <input value=0.5 id="input_Ti" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="Ti" required>

            <p><label><i class="fa fa-angle-right"></i>T<sub>d</sub></label></p>
            <input value=1 id="input_Td" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="Td" required>

            <p><label><i class="fa fa-angle-right"></i>A</label></p>
            <input value=5 id="input_A" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="A" required>

            <p><label><i class="fa fa-angle-right"></i>e</label></p>
            <input value=0.6 id="input_e" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="e" required>

            <p><label><i class="fa fa-angle-right"></i>W</label></p>
            <input value=4 id="input_W" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="W" required>

            <p><label><i class="fa fa-angle-right"></i>S</label></p>
            <input value=2 id="input_S" class="w3-input w3-border" type="text" placeholder="Tu wpisz liczbę..." name="S" required>


          <!------------------------------------------------------------------------------------------------------------------------->
          <!--------------------TUTAJ GUZIKI DO STEROWANIA WYKRESEM------------------------------------------------------------------>
          <!------------------------------------------------------------------------------------------------------------------------->


          <p><button onclick="pass_data();" class="w3-button w3-block w3-dark-gray w3-left-align" type="submit"><i class="fa fa-check" style="padding-right: 10px;"></i>Aktualizuj dane
          </button></p>
          <p><button onclick="stop_update();" class="w3-button w3-block w3-dark-gray w3-left-align" type=""><i class="fa fa-hand-paper"style="padding-right: 10px;"></i>Zatrzymaj symulację
          </button></p>
          <p><button onclick="resume_update();" class="w3-button w3-block w3-dark-gray w3-left-align" type="submit"><i class="fa fa-play"style="padding-right: 10px;"></i>Rozpocznij symulację</button></p>
          <p><button onclick="restart();" class="w3-button w3-block w3-dark-gray w3-left-align" type="submit"><i class="fas fa-redo"style="padding-right: 10px;"></i>Restart</button></p>
        </form>
      </div>
    </nav>



    <!------------------------------------------------------------------------------------------------------------------------->
    <!--------------------OPCJE NA MALE EKRANY--------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
      <span class="w3-bar-item">Projekt UAR</span>
      <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </header>
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>




    <!------------------------------------------------------------------------------------------------------------------------->
    <!--------------------GŁÓWNY KONTENT--------------------------------------------------------------------------------------->
    <!------------------------------------------------------------------------------------------------------------------------->
    <div class="w3-main w3-white" id="main">
        <div class="header">
            <h3>UAR wykorzystania małego układu, które powinno uzyskać żądaną temperaturę przy jedynie pasywnej utracie ciepła</h2>
            <div class="wykres">

              <canvas id="myChart"></canvas>
              <script type="text/javascript" src="{{ url_for('static', filename='plot.js') }}"></script>

            </div><br><br>
        </div>



        <!------------------------------------------------------------------------------------------------------------------------->
        <!--------------------TEKST POD WYKRESEM----------------------------------------------------------------------------------->
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="w3-container" id="opis_projektu">
            <h2>Opis projektu</h2>
            <i id="opis">Sterowaniem jest objęte wykorzystanie pewnego urządzenia. Wykorzystanie
                urządzenia generuje straty energii, które końcowo objawiają się podwyższeniem
                temperatury urządzenia. Temperatura, do której jest wysterowywane urządzenie,
                oznacza to, że urządzenie może wykonać pewne zadanie szybciej (oczywiście w
                pewnych granicach), niż przy średnim obciążeniu urządzenia.</i><br><br><br>
            <i id="wzor">T(n + 1) = (S · u(n) - (σeA(T<sup>4</sup>(n) - T<sub>0</sub><sup>4</sup>) · W)t<sub>p</sub> + T(n)</i><br><br><br>
        </div>

        <i id="zmienne">T(n) - temperatura ostatnia</i><br><br>
        <i id="zmienne">T(n+1) - temperatura następna</i><br><br>

        <i id="zmienne">S - wydzielane ciepło w Kelwinach, przy minimalnym,</i><br><br>
        <i id="zmienne"> zalecanym wykorzystaniu urządzenia na sekundę</i><br><br>

        <i id="zmienne">u(n) - wielkość sterująca</i><br><br>
        <i id="zmienne">A - pole powierzchni oddającej ciepło</i><br><br>
        <i id="zmienne">T0- temperatura otoczenia/początkowa</i><br><br>
        <i id="zmienne">tp- okres próbkowania  </i><br><br>
        <i id="zmienne">σ - Stała Stefana-Boltzmanna 5.6704 · 10<sup>-8</sup> [W/m<sup>2</sup>K<sup>4</sup>]</i><br><br>
        <i id="zmienne">e - emitancja obiektu (zakres od 0 do 1)</i><br><br>
        <i id="zmienne">W - konwersja Jouli na Kelwiny [K/J]</i><br><br><br><br>





      <!------------------------------------------------------------------------------------------------------------------------->
      <!--------------------OPISY NASZYCH DZIALAN-------------------------------------------------------------------------------->
      <!------------------------------------------------------------------------------------------------------------------------->
      <div class="w3-container" id="tworcy">
        <h2>Twórcy projektu</h2>
        <i id="imie" class="fa fa-user"></i>Lena Ptak<br>
        <i id="dane"></i>145226<br><br>
        <i id="dane">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia praesentium corporis ducimus libero consequatur et quidem non facilis nostrum dignissimos velit cum, aliquam laboriosam deleniti nemo, doloremque quod incidunt neque.</i><br><br><br>

        <i id="imie" class="fa fa-user"></i>Konrad Romański<br>
        <i id="dane"></i>145329<br><br>
        <i id="dane">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia praesentium corporis ducimus libero consequatur et quidem non facilis nostrum dignissimos velit cum, aliquam laboriosam deleniti nemo, doloremque quod incidunt neque.</i><br><br><br>

        <i id="imie" class="fa fa-user"></i>Paweł Perechuda<br>
        <i id="dane"></i>145199<br><br>
        <i id="dane">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia praesentium corporis ducimus libero consequatur et quidem non facilis nostrum dignissimos velit cum, aliquam laboriosam deleniti nemo, doloremque quod incidunt neque.</i><br><br><br>

        <i id="imie" class="fa fa-user"></i>Tomasz Pieścikowski<br>
        <i id="dane"></i>145418<br><br>
        <i id="dane">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia praesentium corporis ducimus libero consequatur et quidem non facilis nostrum dignissimos velit cum, aliquam laboriosam deleniti nemo, doloremque quod incidunt neque.</i><br><br><br>
      </div>


      <!------------------------------------------------------------------------------------------------------------------------->
      <!--------------------FOOTER----------------------------------------------------------------------------------------------->
      <!------------------------------------------------------------------------------------------------------------------------->
      <footer class="w3-container w3-padding-16">Projekt oddano 21.02.2020</footer>


    </div>
  </body>
</html>
